version: '3'

services:
  mongodb:
    image: mongo:5
    restart: always
    ports:
      - 127.0.0.1:27017:27017
    environment:
      MONGO_INITDB_DATABASE: 'nest-pokemon'
    volumes:
      - ./mongo:/data/db